clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

scrollBar() {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
searchParam() {
  .search-param {
    .item {
      display inline-block
      margin 10px 0
      label {
        font-weight 400
        font-size 15px
        margin-right 8px
      }
      .el-input, .el-select {
        width 300px
        margin-right: 15px
      }
    }
  }
}