
// 进入和退出时的渐隐渐现
.page-enter-active, .page-leave-active 
  transition: opacity 2s
.page-enter, .page-leave-active 
  opacity: 0


.my-title
  border: 1px mainFontColor solid

.hello
  border 1px #aaa solid